.flexconte{
    display: flex;
}

.h1{
    background-color: black;
    color: white;
}

.izquierdo{
    width: 100%;
    background-color: black;
}

.flexconte2{
    display: flex;
}

.ladoderecho{
    width: 60%;
}

.ladoizquierdo{
    width: 40%;
    text-align: center;
}

.texto{
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
    margin-top: 20px;
}

.texto2{
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
    margin-top: 20px;
}

.menu ul {
    background: #293744;
    display: flex;
    list-style: none;
    margin-top: 20px;
}

.menu a{
    display: block;
    padding: 15px 20px;
    color: #fff;
    text-decoration: none;
}

.menu2 ul {
    background: rgb(250, 250, 250);
    width: 150%;
    list-style: none;
    margin-top: 20px;
}

.menu2 a{
    display: block;
    padding: 15px 20px;
    text-decoration: none;
}
